<!DOCTYPE html>
<html>
	<head lang="ja" xmlns="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
		<meta charset="UTF-8">
		<title>テーブル一覧</title>
		<link rel="stylesheet" th:href="@{/style.css}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	</head>
	<body>
		<header>
			<div>
				あなたの権限：<span th:text="${#authorization.expression('hasRole(&quot;ADMIN&quot;)') ? '管理者' : '一般'}"></span>
				ログイン中：<span sec:authentication="name"></span>
			</div>
			<form th:action="@{/logout}" method="POST">
				<button type="submit">ログアウト</button>				
			</form>
		</header>
		<div id="table-content">
			<div id="users-table-zone">
				<h2>ユーザーテーブル</h2>
				<button id="get-button">全件取得</button>
				<input type="hidden" id="login-user-name" th:value="${#authentication.name}">
				<div id="filter-search-content">
					<input type="text" id="filter-username" placeholder="ユーザー名を入力">
					<button id="get-filter-button">絞り込み</button>	
				</div>
				<div th:if="${#lists.size(allData.userNames) == 0}">
					<p>ユーザテーブルにデータがありません。</p>
				</div>
				<div th:if="${#lists.size(allData.userNames) > 0}" >
					<table id="user-list">
						<thead>
							<tr>
								<th>ID</th>
								<th>ユーザー名</th>
								<th>権限</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr sec:authorize="hasRole('ADMIN')" th:each="name, stat : ${allData.userNames}">
								<td th:text="${allData.userIds[__${stat.index}__]}"></td>
								<td><input type="text" th:value="${name}"></td>
								<td>
									<select>
										<option value="ROLE_USER" th:selected="${allData.roles[__${stat.index}__] == 'ROLE_USER'}">一般</option>
										<option value="ROLE_ADMIN" th:selected="${allData.roles[__${stat.index}__] == 'ROLE_ADMIN'}">管理者</option>
									</select>
								</td>
	                            <td>
	                                <button class="update-user-btn" th:data-id="${allData.userIds[__${stat.index}__]}" th:disabled="${name == #authentication.name}">更新</button>
	                                <button class="delete-user-btn" th:data-id="${allData.userIds[__${stat.index}__]}" th:disabled="${name == #authentication.name}">削除</button>
	                            </td>
							</tr>
							
							<tr sec:authorize="hasRole('USER')" th:each="name, stat : ${allData.userNames}">
								<td th:text="${allData.userIds[__${stat.index}__]}"></td>
								<td th:text="${name}"></td>
								<td th:text="${allData.roles[__${stat.index}__] == 'ROLE_ADMIN' ? '管理者' : '一般'}"></td>
	                            <td>
	                                <button class="update-user-btn" th:data-id="${allData.userIds[__${stat.index}__]}" th:disabled="${#authorization.expression('hasRole(&quot;USER&quot;)')}">更新</button>
	                                <button class="delete-user-btn" th:data-id="${allData.userIds[__${stat.index}__]}" th:disabled="${#authorization.expression('hasRole(&quot;USER&quot;)')}">削除</button>
	                            </td>
							</tr>
						</tbody>
					</table>				
				</div>
			</div>
			
			<div id="skills-table-zone">
				<h2>スキルテーブル</h2>
				<button id="get-skills-button">全件取得</button>
				<div id="filter-search-content">
					<input type="text" id="filter-skill" placeholder="スキルを入力">
					<button id="get-skill-filter-button">絞り込み</button>
				</div>
				<div th:if="${#lists.size(allData.skills) == 0}">
					<p>スキルテーブルにデータがありません。</p>
				</div>
				<div th:if="${#lists.size(allData.skillIds) > 0}">
					<table id="skill-list">
						<thead>
							<tr>
								<th class="sort-row" data-index="0">ユーザー名<i class="fa-solid fa-sort"></i></th>
								<th class="sort-row" data-index="1">スキル<i class="fa-solid fa-sort"></i></th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr sec:authorize="hasRole('ADMIN')" th:each="name, stat :${allData.skillNames}">
								<td th:text="${name}"></td>
								<td><input type="text" th:value="${allData.skills[__${stat.index}__]}"></td>
								<td>
									<button class="update-skill-btn" th:data-skill-id="${allData.skillIds[__${stat.index}__]}">更新</button>
									<button class="delete-skill-btn" th:data-skill-id="${allData.skillIds[__${stat.index}__]}">削除</button>
								</td>
							</tr>
							<tr sec:authorize="hasRole('USER')" th:each="name, stat :${allData.skillNames}">
								<td th:text="${name}"></td>
								<td th:text="${allData.skills[__${stat.index}__]}"></td>
								<td>
									<button class="update-skill-btn" th:data-skill-id="${allData.skillIds[__${stat.index}__]}" disabled>更新</button>
									<button class="delete-skill-btn" th:data-skill-id="${allData.skillIds[__${stat.index}__]}" disabled>削除</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
			<h2>usersテーブルにデータを登録</h2>
			<input type="text" id="username" placeholder="名前を入力">
			<input type="password" id="password" placeholder="パスワードを入力">		
			<label>
				<input type="radio" name="role" value="ROLE_USER" checked>
				一般
			</label>
			<label>
				<input type="radio" name="role" value="ROLE_ADMIN">
				管理者
			</label>
			<button id="user-add-button" th:disabled="${#authorization.expression('hasRole(&quot;USER&quot;)')}">登録</button>
			<h2>skillsテーブルにデータを登録</h2>
			<input type="number" id="user-id" placeholder="user_idを入力">	
			<input type="text" id="skill" placeholder="スキルを入力">
			<button id="skill-add-button" th:disabled="${#authorization.expression('hasRole(&quot;USER&quot;)')}">登録</button>
			
		<script th:src="@{/main.js}"></script>
		<script th:inline="javascript">
		    const isAdmin = /*[[${#authorization.expression('hasRole("ADMIN")')}]]*/ false;
		</script>
	</body>
</html>